<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="logDir" value="C:/logs/spring-h"/>
    <!--    <property name="logDir" value="/data/logs/zj"/>-->
    <property resource="application.properties" />
    <property name="application.name" value="${application.name}"/>
    <contextName>SPRING-H</contextName>

    <appender name="SH-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[spring-h] %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SH-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append><!--默认true-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/${application.name}/%d{yyyy-MM-dd-HH}.log</fileNamePattern> <!--每小时一个文件 下面5表示文件只保存5份-->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[spring-h] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="SH-TEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logDir}/${application.name}/test.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${logDir}/${application.name}/test.log.%i</FileNamePattern>
            <MinIndex>1</MinIndex> <!--窗口索引最小值-->
            <MaxIndex>5</MaxIndex> <!--窗口索引最大值-->
        </rollingPolicy>
        <!--当test.log文件大于MaxFileSize时候会把其内容写入test.log.%i文件,并且随着i从小到大,时间是从前到后的-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>[spring-h] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="SH-ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logDir}/${application.name}/err.log</File>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${logDir}/${application.name}/err.log.%i</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>2</MaxIndex>
        </rollingPolicy>
        <encoder>
            <pattern>[spring-h] %d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="SH-WEB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logDir}/${application.name}/web.log</File>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${logDir}/${application.name}/web.log.%i</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>2</MaxIndex>
        </rollingPolicy>
        <encoder>
            <pattern>[spring-h] %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 实现mybatis日志打印 -->
    <logger name="hello.data.mapper" level="DEBUG"/>

    <logger name="SH.test">
        <level value="INFO"/>
        <appender-ref ref="SH-TEST"/>
    </logger>

    <logger name="SH.err" level="ERROR">
        <appender-ref ref="SH-ERR"/>
    </logger>

    <logger name="SH.web" level="DEBUG">
        <appender-ref ref="SH-WEB"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="SH-STDOUT"/>
        <appender-ref ref="SH-FILE"/>
    </root>

    <!--
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERR"/>
    </root>
    <logger name="rpc.digest">
        <level value="INFO"/>
        <appender-ref ref="RPC-DIGEST"/>
    </logger>
    <logger name="remote.digest">
        <level value="INFO"/>
        <appender-ref ref="REMOTE-DIGEST"/>
    </logger>
    <logger name="pulling.monitor">
        <level value="INFO"/>
        <appender-ref ref="PULLING-MONITOR"/>
    </logger>
    <logger name="web.digest">
        <level value="INFO"/>
        <appender-ref ref="WEB-DIGEST"/>
    </logger>-->
</configuration>