<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dubbo.properties</value>
            </list>
        </property>
    </bean>

    <!--*********************************************************************

*********************************************-->

    <!--mybatis-->
    <bean id="dataSourceTest" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="url" value="${zj.database.url}"/>
        <property name="username" value="${zj.database.username}"/>
        <property name="password" value="${zj.database.password}"/>

        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="5"/>
        <property name="maxActive" value="1000"/>

        <!-- 配置获取连接等待超时的时间 -->
        <!-- c3p0 checkoutTimeout default 0 -->
        <property name="maxWait" value="5000"/>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <!-- c3p0 idleConnectionTestPeriod our config is 300s -->
        <property name="timeBetweenEvictionRunsMillis" value="300000"/>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <!-- c3p0 maxIdleTime out config is 30s -->
        <property name="minEvictableIdleTimeMillis" value="30000"/>

        <property name="validationQuery" value="SELECT 'x' FROM DUAL"/>
        <!-- property name="testWhileIdle" value="false" / -->
        <property name="testOnBorrow" value="true"/>
        <!-- property name="testOnReturn" value="false" / -->

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements" value="false"/>
        <!-- property name="maxPoolPreparedStatementPerConnectionSize" value="20" / -->

        <!-- 配置监控统计拦截的filters -->
        <!-- property name="filters" value="stat" / -->
        <property name="proxyFilters">
            <list>
                <bean class="com.alibaba.druid.filter.stat.StatFilter">
                    <property name="mergeSql" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="sqlSessionFactoryTest" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="mapperLocations" value="classpath:META-INF/mybatis/xml/*.xml"/>
        <property name="dataSource" ref="dataSourceTest"/>
    </bean>

    <bean id="ordersMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.demo.common.service.mysql.dal.mapper.OrdersMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactoryTest"/>
    </bean>

    <bean id="lineitemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.demo.common.service.mysql.dal.mapper.LineitemMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactoryTest"/>
    </bean>


</beans>