<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

<!--    <bean id="MyBeanFactoryAware001" class="com.demo.common.service.bean.MyBeanFactoryAware" init-method="init"/>-->
<!--    <bean id="MyBeanNameAware001" class="com.demo.common.service.bean.MyBeanNameAware" init-method="init"/>-->

<!--    <context:component-scan base-package="com.demo.common.service.spring.*"/>-->
    <bean id="userDao" class="com.demo.common.service.spring.demo.UserDao"/>

    <bean id="injectUserDao" class="com.demo.common.service.spring.demo.InjectUserDao">
<!--        <property name="userDao" ref="userDao"/>-->
    </bean>
    <bean id="injectUserDao2" class="com.demo.common.service.spring.demo.InjectUserDao2">
<!--        <property name="userDao" ref="userDao"/>-->
    </bean>
    <bean id="injectUserDao3" class="com.demo.common.service.spring.demo.InjectUserDao3">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

<!--    <context:annotation-config />-->
</beans>