<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!-- byName -->
    <bean id="demoDao01" class="com.demo.common.service.spring.learn0.injection.bean.DemoDao"/>
    <bean id="demoService01" class="com.demo.common.service.spring.learn0.injection.bean.DemoService">
        <constructor-arg ref="demoDao01"/>
        <property name="demoOneDao" ref="demoDao01"/>
    </bean>
</beans>